
@font-face {
  font-family: 'Clash Display Bold';
  src: url('/Fonts/Clash Display/ClashDisplay-Bold.otf');
}

@font-face {
  font-family: 'Clash Display Semibold';
  src: url('/mainfont');
}

@font-face {
  font-family: 'Clash Grotesk Medium';
  src: url('/Fonts/Clash Grotesk/ClashGrotesk-Medium.otf');
}

